@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  	font-family: 'Poppins', sans-serif;
}

audio{
	display: none;
}

body{
  	background: #7d2ae8;
}

.body{
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translateX(-50%) translateY(-50%);
  	text-align: center;
}
::selection{
  	color: #fff;
  	background: #7d2ae8;
}

button{
  	outline: none;
  	cursor: pointer;
 	font-weight: 500;
 	border-radius: 4px;
 	border: 2px solid transparent;
 	transition: background 0.1s linear, border-color 0.1s linear, color 0.1s linear;
}
.start{
	position: absolute;
 	left: 50%;
	top: 50%;
 	color: #7d2ae8;
 	font-size: 18px;
	padding: 10px 25px;
 	background: #fff;
	transform: translate(-50%, -50%);
}

.description{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 20px;
}
